SourceCode/ParkingManagementClient/ParkingManagementClient/Connected Services/SlotService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2lab4" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2lab4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="bookingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Booking_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Slot_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bookingResult" nillable="true" type="tns:bookingResult" />
  <xs:complexType name="exitResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:int" />
      <xs:element minOccurs="0" name="paymentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="exitResult" nillable="true" type="tns:exitResult" />
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingId" type="xs:int" />
      <xs:element minOccurs="0" name="Exit" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SlotId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="ArrayOfBooking1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking1" nillable="true" type="tns:Booking1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking1" nillable="true" type="tns:ArrayOfBooking1" />
  <xs:complexType name="Booking1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BookingId" type="xs:int" />
      <xs:element minOccurs="0" name="Exit" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SlotId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking1" nillable="true" type="tns:Booking1" />
</xs:schema>