SourceCode/Windows Form-ParkingManagementGateKeeper/ParkingManagementGateKeeper/ParkingManagementGateKeeper/Service References/SlotService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/WcfServiceLibrary2lab4/Service1/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8080/WcfServiceLibrary2lab4/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2lab4" />
  <xs:element name="available_section">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="available_sectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="available_sectionResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="available_floor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="available_floorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="available_floorResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="available_type">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="floor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="available_typeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="available_typeResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="floor" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="normalCharge" type="xs:int" />
        <xs:element minOccurs="0" name="overtimeCharge" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSlotsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="floor" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeSlotsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showAllSlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="floor" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showAllSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showAllSlotsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bookSlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="floor" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="vehicleno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrivaltime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="exittime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bookSlotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2lab4" minOccurs="0" name="bookSlotResult" nillable="true" type="q4:bookingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cancelBookingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exitVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingId" type="xs:int" />
        <xs:element minOccurs="0" name="exitTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exitVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2lab4" minOccurs="0" name="exitVehicleResult" nillable="true" type="q5:exitResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="makePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paymentId" type="xs:int" />
        <xs:element minOccurs="0" name="paymentType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="makePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makePaymentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showBookings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showBookingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2lab4" minOccurs="0" name="showBookingsResult" nillable="true" type="q6:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>